// Colors
$lightBlue: #acdee6;
$medBlue: #43b9c6;
$lightBlue: #acdee6;
$darkBlue: #0F8790;
$lightGreen: #b5d55b;
$medGreen: #79BE43;
$darkGreen: #3D9644;
$lightYellow: #feed7f;
$medYellow: #FFC32F;
$lightGrey: #dedede;
$lightPurple: #b5a3cf;
$medPurple: #6a55a1;
$grey: #5a5a5a;
$medOrange: #f78f1e;
$lightOrange: #FECB7C;

